<div style="text-align: center;">
    <h6 class="text-primary text-uppercase">// Link Button CarServ //</h6>
    <a routerLink ="defintionCar" class="btn btn-primary py-3 px-5">CarServ<i class="fa fa-arrow-right ms-3"></i></a>
    <a routerLink="profileCar" class="btn btn-primary py-3 px-5">Profile<i class="fa fa-arrow-right ms-3"></i></a>
    <a routerLink="automobileCar" class="btn btn-primary py-3 px-5">Automobile<i class="fa fa-arrow-right ms-3"></i></a>
    <a routerLink="technicalCar" class="btn btn-primary py-3 px-5">Technical<i class="fa fa-arrow-right ms-3"></i></a>
    <a routerLink="clientsCar" class="btn btn-primary py-3 px-5">Clients<i class="fa fa-arrow-right ms-3"></i></a>
    <a routerLink="servicesCar" class="btn btn-primary py-3 px-5">Services<i class="fa fa-arrow-right ms-3"></i></a>
    
</div>