<app-banner [title]="title | uppercase"></app-banner>
<div class="container">
    <h1>Plate-forme (automobile)
    </h1>
    <p>
        Dans l’industrie automobile, une plate-forme est une structure de base d’un véhicule, composée d’un châssis et
        de certaines pièces non visibles.
        Cette stratégie de conception est également présente dans l'industrie du poids lourd1, de l'aéronautique2 ainsi
        que de l'électronique et apporte aux constructeurs une économie de coût de conception et de fabrication3.

        Les véhicules construits sur la même plate-forme ont en commun la voie (largeur entre les deux roues d’un même
        essieu) et l’empattement (distance entre les deux roues de deux essieux).
        En revanche, les porte-à-faux avant et arrière, et la carrosserie peuvent être modifiés.
        La limite de ce concept est la construction même du châssis-coque.

        La conception et la production des moteurs sont soumis aux mêmes règles industrielles et sont souvent produites
        en commun.
        Ils servent à la motorisation de multiples modèles d’automobiles avec des annexes et réglages différents.
    </p>
    <h2>Bénéfices</h2>
    <p>
        La conception modulaire n'est intéressante que lorsqu'il s'agit de créer des variantes d'un même produit, à
        l'échelle d'une marque, ou bien de créer une famille de produits, à l'échelle d'un Groupe.

        Cette stratégie est adoptée pour permettre une économie des coûts de :

        conception : les véhicules partageant une structure commune, l'intégration de différents composants eux-mêmes
        partagés (Sièges, HVAC, moteur, liaison au sol, etc.) n'a besoin d'être étudiée qu'une seule fois. Cela
        représente à la fois une économie lors de la conception directe, mais également lors des phases de test et
        prototypage, ainsi que lors de la certification lors de laquelle certifier un véhicule permet d'en certifier
        plusieurs à la fois ;
        production : les groupes automobiles partageant les mêmes usines, la modularisation permet de réduire fortement
        la diversité d'éléments à monter. En découle une gestion des stocks plus facile, mais également moins de lignes
        d'assemblages et moins de machines d'assemblage. De plus, profitant d'un effet volume bien plus important, le
        prix des pièces s'en trouve réduit, abaissant aussi le coût de production unitaire ;
        service après-vente : partager des composants en commun permet de simplifier la gestion des stocks, voire de
        réduire le nombre d'entrepôts nécessaires. Également, la rédaction des méthodes de remplacement/réparation s'en
        retrouve aussi réduite.
    </p>
    
        <img  src="assets/img/platforme.jpg" alt="" srcset="">
   
</div>
