 
<!-- Topbar Start -->
<app-topbar></app-topbar>
<!-- Topbar End -->
  <!-- Carousel Start -->
  <app-carousel></app-carousel>
  <!-- Carousel End -->


  <!-- Service Start -->
 <app-service></app-service>
  <!-- Service End -->
<app-bouton></app-bouton>

  <!-- About Start -->
  <app-about></app-about>
  <!-- About End -->


  <!-- Fact Start -->
  <app-fact></app-fact>
  <!-- Fact End -->


  <!-- Service Start -->
 <app-start></app-start>
  <!-- Service End -->


  <!-- Booking Start -->
  <app-booking></app-booking>
  <!-- Booking End -->


  <!-- Team Start -->
 <app-team></app-team>
  <!-- Team End -->


  <!-- Testimonial Start -->
  <app-testimonial></app-testimonial>
  


  <!-- Back to Top -->
<app-back></app-back>