<app-banner [title]="title | uppercase"></app-banner>
<div class="container-xxl py-5">
    <h6 class="text-primary text-uppercase">// Admin Space //</h6>
    <div class="container">
        <div class="row g-4">
            
             <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="d-flex bg-light py-5 px-4">
                    <img src="assets/img/espaceclients.jpg" alt="" srcset="" height="100px" width="100px">
                    <div class="ps-4">
                        <h5 class="mb-3">Customer Area</h5>
                        <p>Hellow Customer Area</p>
                        <div class="col-12">
                            <button class="btn btn-info w-100 py-3" style="text-align: center;" (click)="espaceClients()" type="submit">Accept </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="d-flex bg-light py-5 px-4">
                    <img src="assets/img/signupp.png" alt="" srcset="" height="100px" width="100px">
                    <div class="ps-4">
                        <h5 class="mb-3">Signup Admin</h5>
                        <p>Hellow Signup Admin</p>

                        <div class="col-12">
                            <button class="btn btn-info w-100 py-3" style="text-align: center;" (click)="signupAdmin()" type="submit">Accept </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="d-flex bg-light py-5 px-4">
                    <img src="assets/img/admintable.png" alt="" srcset="" height="100px" width="100px">
                    <div class="ps-4">
                        <h5 class="mb-3">Admin Table</h5>
                        <p>Hellow Admin Table</p>
                        <div class="col-12">
                            <button class="btn btn-info w-100 py-3" style="text-align: center;" (click)="adminTable()" type="submit">Accept </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="d-flex bg-light py-5 px-4">
                    <img src="assets/img/publl.png" alt="" srcset="" height="100px" width="100px">
                    <div class="ps-4">
                        <h5 class="mb-3">Publications</h5>
                        <p>Hellow Publications</p>

                        <div class="col-12">
                            <button class="btn btn-info w-100 py-3" style="text-align: center;" (click)="publications()" type="submit">Accept </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="d-flex bg-light py-5 px-4">
                    <img src="assets/img/pubtable.png" alt="" srcset="" height="100px" width="100px">
                    <div class="ps-4">
                        <h5 class="mb-3">Publications Table</h5>
                        <p>Hellow Publications Table</p>
                        <div class="col-12">
                            <button class="btn btn-info w-100 py-3" style="text-align: center;" (click)="publicationsTable()" type="submit">Accept </button>
                        </div>
                    </div>
                </div>
            </div><div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="d-flex bg-light py-5 px-4">
                    <img src="assets/img/adcar.jpg" alt="" srcset="" height="100px" width="100px">
                    <div class="ps-4">
                        <h5 class="mb-3">Add Car</h5>
                        <p>Hellow Add Car</p>
                        <div class="col-12">
                            <button class="btn btn-info w-100 py-3" style="text-align: center;" (click)="addCar()" type="submit">Accept </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="d-flex bg-light py-5 px-4">
                    <img src="assets/img/ccar.png" alt="" srcset="" height="100px" width="100px">
                    <div class="ps-4">
                        <h5 class="mb-3">Car Table</h5>
                        <p>Hellow Car Table</p>
                        <div class="col-12">
                            <button class="btn btn-info w-100 py-3" style="text-align: center;" (click)="car()" type="submit">Accept </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="d-flex bg-light py-5 px-4">
                    <img src="assets/img/icone10.png" alt="" srcset="" height="100px" width="100px">
                    <div class="ps-4">
                        <h5 class="mb-3">Contact Table</h5>
                        <p>Hellow Contact Table</p>
                        <div class="col-12">
                            <button class="btn btn-info w-100 py-3" style="text-align: center;" (click)="contactTable()" type="submit">Accept </button>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>