
<div class="testimonial-item text-center">
    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="{{inputTech.images}}" style="width: 80px; height: 80px;">
    <h5 class="mb-0"> {{inputTech.fname}}</h5>
    <h5 class="mb-0">{{inputTech.lname}}</h5>
    <div class="testimonial-text bg-light text-center p-4">
    <p class="mb-0">{{inputTech.description}}</p>
    <p class="mb-0">{{inputTech.age}}</p>
    <p class="mb-0">{{inputTech.mobile}}</p>
    <p class="mb-0">{{inputTech.experience}}</p>
    <p class="mb-0">{{inputTech.adresse}}</p>


    </div>
</div>